/* Conteneur du loader : plein écran */
#loader-container {
    position: fixed;
    z-index: 9999;
    inset: 0;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
}

/* Animation de disparition */
#loader-container.fade-out {
    opacity: 0;
    pointer-events: none;
}

/* Cacher le contenu pendant le chargement */
.hidden {
    visibility: hidden;
}


/* From Uiverse.io by satyamchaudharydev */
.loader {
    display: block;
    --height-of-loader: 4px;
    --loader-color: #0071e2;
    width: 130px;
    height: var(--height-of-loader);
    border-radius: 30px;
    background-color: rgba(0,0,0,0.2);
    position: relative;
}

.loader::before {
    content: "";
    position: absolute;
    background: var(--loader-color);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    animation: moving 1s ease-in-out infinite;
;
}

@keyframes moving {
    50% {
        width: 100%;
    }

    100% {
        width: 0;
        right: 0;
        left: unset;
    }
}
