{% extends 'base.html.twig' %}

{% block body %}
    <h1>Panel Admin</h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">{{ message }}</div>
        {% endfor %}
    {% endfor %}



    <ul>
        <li><a class="btn btn-primary btn-lg me-3" href="{{ path('app_register') }}">Créer un compte</a></li>
        <li><a class="btn btn-primary btn-lg me-3" href="{{path('admin_import_csv')}}">Ajout de compte par fichier</a></li>
        <li><a href="#">Autres modules</a></li>
    </ul>
{% endblock %}
